<template>
  <div>
    <loading :active.sync="isLoading"></loading>

    <a-page-header
      style="border: 1px solid rgb(235, 237, 240)"
      title="Listado de empleados"
    >
      <template slot="extra">
        <a-button @click="goToAdd">Agregar Empleado</a-button>
      </template>
    </a-page-header>

    <a-table
    :scroll="{ x: 1500, y: 300 }"
      :columns="columns"
      :row-key="record => record._id"
      :data-source="data"
      :pagination="pagination"
      :loading="loading"
      @change="handleTableChange"
    >
      <template slot="action-view" slot-scope="text, record">
        <span>
          <a @click="viewRegister(record)">Ver</a>
        </span>
      </template>

      <template slot="action-delete" slot-scope="text, record">
        <span>
          <a style="color:red;" @click="deleteRegister(record)">Eliminar</a>
        </span>
      </template>
    </a-table>
  </div>
</template>
<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import reqwest from "reqwest";
import baseConfig from '@/config/base'
import axios from "axios";
const columns = [
  {
    title: "Primer Apellido",
    dataIndex: "firstLastName"
  },
  {
    title: "Segundo Apellido",
    dataIndex: "secondLastName"
  },
  {
    title: "Nombre",
    dataIndex: "firstName"
  },
  {
    title: "Tipo de documento",
    dataIndex: "documentType"
  },
  {
    title: "Documento",
    dataIndex: "documentId"
  },
  {
    title: "País",
    dataIndex: "country"
  },
  {
    title: "Email",
    dataIndex: "email"
  },
  {
    title: "Estado",
    dataIndex: "state"
  },
  {
    title: "",
    key: "operation-view",
    fixed: "right",
    width: 100,
    scopedSlots: { customRender: "action-view" }
  },
  {
    title: "",
    key: "operation-delete",
    fixed: "right",
    width: 100,
    scopedSlots: { customRender: "action-delete" }
  }
];

export default {
  components: {
    Loading
  },
  data() {
    return {
      isLoading: true,
      data: [],
      pagination: {},
      loading: false,
      columns
    };
  },
  mounted() {
    this.fetch();
  },
  methods: {
    /*
    * Permite redirigir a la vista para visualizar empleado
    */
    viewRegister(register) {
      this.$router.push({ path: "view/" + register._id });
    },
    /*
    * Permite redirigir a la vista para agregar empleado
    */
    goToAdd() {
      this.$router.push({ path: "/add" });
    },
    /*
    * Permite gestionar la paginación
    */
    handleTableChange(pagination, filters, sorter) {
      const pager = { ...this.pagination };
      pager.current = pagination.current;
      this.pagination = pager;
      this.fetch({
        results: pagination.pageSize,
        page: pagination.current,
        sortField: sorter.field,
        sortOrder: sorter.order,
        ...filters
      });
    },
    /*
    * Permite traer los datos de los empleados
    */
    fetch(params = {}) {
      this.loading = true;
      reqwest({
        url: baseConfig.baseURL + "/employees",
        method: "get",
        data: {
          results: 10,
          ...params
        },
        type: "json"
      }).then(data => {
        const pagination = { ...this.pagination };
        pagination.total = data.info.totalCount;
        this.loading = false;
        this.data = data.results;
        this.pagination = pagination;
        this.isLoading = false
      }).catch((e) => {
        this.isLoading = false
        this.$error({
            title: "Error al cargar los datos."
          });
      })
    },
    /*
    * Permite  eliminar un registro
    */
    deleteRegister(register) {
      var context = this;
      this.$confirm({
        title: "Estas seguro que quieres eliminar este empleado?",
        content: "Esta acción no se puede revertir.",
        okText: "SI",
        okType: "danger",
        cancelText: "No",
        async onOk() {
            try {
                await axios.delete(baseConfig.baseURL + "/employees/" + register._id);
                context.fetch();
            } catch (error) {
                  this.isLoading = false
                 this.$error({
                  title: "Error al eliminar registro."
                });     
            }
        }
      });
    },
  }
};
</script>
