<template>
  <div>
    <loading :active.sync="isLoading"></loading>

    <a-page-header
      style="border: 1px solid rgb(235, 237, 240)"
      title="Agregar empleado"
      @back="goBack()"
    >
    </a-page-header>

    <a-row>
      <a-col :xs="{ span: 24 }" :lg="{ span: 24 }">
        <a-alert
          v-for="error in validationErrors"
          type="error"
          :message="error.text"
          banner
        />
      </a-col>
    </a-row>

    <a-row>
      <a-col :xs="{ span: 24 }" :lg="{ span: 8 }" style="margin-left:20px;">
        <a-form-model-item label="Primer Apellido" required>
          <a-input
            placeholder="Primer Apellido"
            v-model="firstLastName"
            @change="formatEmail"
          />
        </a-form-model-item>

        <a-form-model-item label="Segundo Apellido" required>
          <a-input
            placeholder="Segundo Apellido"
            v-model="secondLastName"
            @change="formatEmail"
          />
        </a-form-model-item>

        <a-form-model-item label="Primer Nombre" required>
          <a-input
            placeholder="Primer Nombre"
            v-model="firstName"
            @change="formatEmail"
          />
        </a-form-model-item>

        <a-form-model-item label="Otros Nombres">
          <a-input
            placeholder="Otros Nombres"
            v-model="otherNames"
            @change="formatEmail"
          />
        </a-form-model-item>

        <a-form-model-item label="País del Empleo" required>
          <a-select
            v-model="country"
            placeholder="País del Empleo"
            style="width:100%;"
          >
            <a-select-option value="Colombia">
              Colombia
            </a-select-option>
            <a-select-option value="Estados unidos">
              Estados unidos
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-col>
      <a-col :xs="{ span: 24 }" :lg="{ span: 12 }" style="margin-left:20px;">
        <a-form-model-item label="Tipo de Identificación" required>
          <a-select
            v-model="documentType"
            placeholder="Tipo de identificación"
            style="width:100%;"
          >
            <a-select-option value="Cédula de Ciudadanía">
              Cédula de Ciudadanía
            </a-select-option>
            <a-select-option value="Cédula de Extranjería">
              Cédula de Extranjería
            </a-select-option>

            <a-select-option value="Pasaporte">
              Pasaporte
            </a-select-option>

            <a-select-option value="Permiso Especial">
              Permiso Especial
            </a-select-option>
          </a-select>
        </a-form-model-item>

        <a-form-model-item label="Número de Identificación" required>
          <a-input
            placeholder="Número de Identificación"
            v-model="documentId"
          />
        </a-form-model-item>

        <a-form-model-item label="Correo Eléctronico" required>
          <a-input placeholder="Correo Eléctronico" v-model="email" disabled />
          <small
            >(Nota: El email puede cambiar al momento de la creación del
            empleado si este ya existe.)</small
          >
        </a-form-model-item>

        <a-form-model-item label="Fecha de Ingreso" required>
          <a-date-picker
            v-model="admissionDate"
            placeholder="Fecha de Ingreso"
            style="width:100%;"
          />
        </a-form-model-item>

        <a-form-model-item label="Area" required>
          <a-select v-model="area" placeholder="Area" style="width:100%;">
            <a-select-option value="Administracion">
              Administración
            </a-select-option>
            <a-select-option value="Financiera">
              Financiera
            </a-select-option>

            <a-select-option value="Compras">
              Compras
            </a-select-option>

            <a-select-option value="Infraestructura">
              Infraestructura
            </a-select-option>

            <a-select-option value="Operación">
              Operación
            </a-select-option>

            <a-select-option value="Talento Humano">
              Talento Humano
            </a-select-option>

            <a-select-option value="Servicios Varios">
              Servicios Varios
            </a-select-option>
          </a-select>
        </a-form-model-item>

        <a-form-model-item v-model="state" label="Estado">
          <a-switch default-checked disabled />
        </a-form-model-item>

        <a-form-model-item label="">
          <a-button @click="save" type="primary">Guardar Empleado</a-button>
        </a-form-model-item>
      </a-col>
    </a-row>
  </div>
</template>

<script>
import axios from "axios";
import employeesValidationService from "@/services/employeesValidationService";
import baseConfig from "@/config/base";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  data() {
    return {
      isLoading: false,
      validationErrors: [],
      firstLastName: "",
      secondLastName: "",
      firstName: "",
      otherNames: "",
      country: "",
      documentType: "",
      documentId: "",
      email: "",
      admissionDate: "",
      area: "",
      state: "activo",
      registryDate: ""
    };
  },
  components: {
    Loading
  },
  methods: {
    /*
    * Permite redirigir a la página anterior
    */
    goBack() {
      this.$router.go(-1);
    },
   /*
    * Permite formatear el email
    */
    async formatEmail() {
      if (this.country == "Estados unidos") {
        console.log("el dominio es USA");
        this.domain = "@cidenet.com.us";
      } else {
        this.domain = "@cidenet.com.co";
      }

      this.email = this.firstName;

      if (/\s/.test(this.firstLastName)) {
        this.firstLastName = this.firstLastName.replace(/\s/g, "");
      }

      this.email += "." + this.firstLastName;

      this.email += this.domain;

      this.email = this.email.toLowerCase();

      if (this.firstLastName !== this.firstLastName.toUpperCase()) {
        this.$notification["warning"]({
          message: "Advertencia",
          description: "Los datos deben de ser introducidos en mayúscula."
        });
      }
    },
   /*
    * Permite validar y guardar
    */
    async save() {
      var validation = employeesValidationService.validate({
        firstLastName: this.firstLastName,
        secondLastName: this.secondLastName,
        firstName: this.firstName,
        otherNames: this.otherNames,
        country: this.country,
        documentType: this.documentType,
        documentId: this.documentId,
        email: this.email,
        admissionDate: this.admissionDate,
        area: this.area,
        state: this.state,
        registryDate: new Date()
      });

      if (!validation.isValid) {
        this.validationErrors = validation.errors;

        this.$error({
          title: "Error al validar datos.",
          content: "Favor revisar datos de validación e intente de nuevo."
        });
        return;
      }

      this.isLoading = true;

      try {
        await axios.post(baseConfig.baseURL + "/employees", {
          firstLastName: this.firstLastName,
          secondLastName: this.secondLastName,
          firstName: this.firstName,
          otherNames: this.otherNames,
          country: this.country,
          documentType: this.documentType,
          documentId: this.documentId,
          email: this.email,
          admissionDate: this.admissionDate,
          area: this.area,
          state: this.state,
          registryDate: new Date()
        });

        this.$success({
          title: "El empleado fue creado correctamente."
        });

        this.$router.push("/");
      } catch (error) {
        this.isLoading = false;
        this.$error({
          title: "Error al guardar el documento."
        });
      }

      this.isLoading = false;
    }
  }
};
</script>
